.space {
  /* box-sizing: border-box; */
  width: 200px;
  height: 200px;
  font-size: 100;
  font-family: "Comic Sans MS", "Georgia", Arial, Helvetica, sans-serif;
  font-weight: bolder;
  background: black;
  color: white;
}